.fa-brands{
                font-size: 50px;
                margin: 10px;
            }

.fa-solid{
font-size: 50px;
                margin: 10px;
}

.fa-regular{
font-size: 50px;
                margin: 10px;}
